
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<p>Eventually this will be the page to search for locations from</p>

@using (Html.BeginForm("SearchLoc", "Location", FormMethod.Get,
                            new { id = "createForm" }))
{
    <h3>Search Keyword:</h3>
    <input type="text" size="20" name="keyword" />
    <br />
    <input type="submit" value="Search" />
}
@{
    var list = ViewBag.locList;
    <p>list==null</p>
    if (list != null)
    {
        <p>@list.Count</p>
        <p>test before logic</p>
        if (list.count > 0)
        {
            for (int i = 0; i < list.Count; i++)
            {

                <p>@list.ElementAt(i).Name</p>
            }
        }
        else
        {
            <p>No location by that name exist</p>
        }
    }
}
@Html.ActionLink("Add a new location to the system", "NewLocation");

