
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<p>Eventually this will be the page to search for locations from</p>

@using (Html.BeginForm("SearchLoc", "Location", FormMethod.Get,
                            new { id = "createForm" }))
{
    <h3>Search Keyword:</h3>
    <input type="text" size="20" name="keyword" />
    <br />
    <input type="submit" value="Search" />
}
@{
    var list = ViewBag.locList;
    if (list != null)
    {
        <h3>Search Results:</h3>
        if (list.Count > 0)
        {
            for (int i = 0; i < list.Count; i++)
            {
                <a href="ShowLocation/?id=@list[i].Id">@list[i].Name</a>
                <br />
            }
        }
        else
        {
            <p>No location by that name exist</p>
        }
        <br />
    }
}
@Html.ActionLink("Add a new location to the system", "NewLocation");

