
@{
    ViewBag.Title = "NewLocation";
}

<h2>NewLocation</h2>

@using (Html.BeginForm("NewLoc", "Location", FormMethod.Get,
                            new { id = "createForm" }))
{
    <br />
    <h3>Name</h3>
    <input type="text" size="20" name="name" required />
    <br />
    <h3>Region</h3>
    <input type="text" size="20" name="region" required />
    <br />
    <h3>Elevation Gain(m)</h3>
    <input type="number" size="20" name="evGain" max="10000" min="-10000" oninvalid="setCustomValidity('Impossible elevation gain number!')"/>
    <br />
    <h3>Distance(km)</h3>
    <input type="number" step=".01" size="20" name="distance" min="0" oninvalid="setCustomValidity('Must be a positive and specified to 2 decimals max')"/>
    <br />
    <h3>Start Coordinates</h3>
    <label for="startN">NS[-90,90]:</label>
    <input type="number" step=".00001" size="10" name="startN" min="-90" max="90" oninvalid="setCustomValidity('Out of range!')" />
    <br />
    <label for="startW">EW[-180,180]:</label>
    <input type="number" step=".00001" size="10" name="startW" min="-180" max="180" oninvalid="setCustomValidity('Out of range!')"/>
    <br />
    <h3>End Coordinates</h3>
    <label for="endN">NW[-90,90]:</label>
    <input type="number" step=".00001" size="20" name="endN" min="-90" max="90" oninvalid="setCustomValidity('Out of range!')"/>
    <br />
    <label for="endW">EW[-180,180]:</label>
    <input type="number" step=".00001" size="10" name="endW" min="-180" max="180" oninvalid="setCustomValidity('Out of range!')"/>
    <br />
    <h3>Physical Difficulty</h3>
    <label for="pDiff">1</label>
    <input type="radio" name="pDiff" value="1" />
    <input type="radio" name="pDiff" value="2" />
    <input type="radio" name="pDiff" value="3" checked />
    <input type="radio" name="pDiff" value="4" />
    <input type="radio" name="pDiff" value="5" />
    <label for="pDiff">5</label>
    <br />
    <h3>Technical Difficulty</h3>
    <label for="tDiff">1</label>
    <input type="radio" name="tDiff" value="1" />
    <input type="radio" name="tDiff" value="2" />
    <input type="radio" name="tDiff" value="3" checked />
    <input type="radio" name="tDiff" value="4" />
    <input type="radio" name="tDiff" value="5" />
    <label for="tDiff">5</label>
    <br />
    <h3>Peak Elevation(m)</h3>
    <input type="number" size="20" name="peakEv" max="8848" min="-413" oninvalid="setCustomValidity('No point on land is that elevation!')"/>
    <br />
    <h3>Verified</h3>
    <input type="checkbox" name="verified" disabled />
    <label for="verified">Admin Verified</label>
    <br />
    <h3>Description</h3>
    <textarea rows="7" name="description" required></textarea>
    <br />
    <p style="color:red;">@ViewBag.createLocationResponse</p>
    <br />
    <input type="submit" value="Create" />
    <br />
}